.bestseller {
  padding-bottom: 100px;

  @include tablet {
    padding-bottom: 50px;
  }

  @include mobile {
    padding-bottom: 20px;
  }
}

.bestseller__title {
  padding: 48px 0;

  @include tablet {
    padding: 28px 0;
  }

  @include mobile {
    padding: 10px 0;
    text-align: center;
  }
}

.bestseller__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 48px 24px;

  @include tablet {
    gap: 28px 14px;
  }

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px 8px;
  }
}
