.btn-fav {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 50px;
  box-shadow: 0 8px 16px -8px rgba(15, 15, 15, 0.12);
  background-color: #fff;

  transition: all 0.6s ease-in;

  svg {
    fill: #6c7275;
  }

  &:hover {
    background-color: #b6173c;
    svg {
      fill: #fff;
    }
  }
}
