.btn {
  border-radius: 8px;
  background: var(--neutral-07-1000);
  color: var(--yellow);

  &__medium {
    padding: 12px 56px;

    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.02em;

    text-align: center;

    @include mobile {
      font-size: 16px;
    }
  }

  transition: all 0.4s ease-in;

  &__small {
    padding: 8px 24px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--neutral-01-1000);

    @include mobile {
      padding: 8px 14px;
      font-size: 14px;
      line-height: 125%;
    }

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
      background: var(--neutral-07-1000);
    }
  }

  &__wide {
    display: block;
    width: 100%;

    padding: 12px 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.02em;

    text-align: center;

    @include mobile {
      font-size: 16px;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}
