.card {
  position: relative;

  width: 200px;

  &:hover {
    .card__fav {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
    .card__btn {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}

.card-bestseller {
  text-align: center;

  &:hover {
    .card__fav {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
    .card__btn {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  @include mobile {
    width: 140px;

    img {
      max-height: 200px;
      margin-bottom: 5px;
    }
  }
}

.card__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__picture {
  position: relative;
  text-align: center;
  img {
    width: 200px;
    height: 300px;
    margin-bottom: 12px;
  }
}

.card__new {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 14px;
  border-radius: 4px;

  background-color: #fff;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #121212;
}

.card__fav {
  position: absolute;
  z-index: 9;
  top: 16px;
  right: 16px;

  transition: all 0.6s ease-in;
  opacity: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.card__btn {
  position: absolute;
  z-index: 9;
  left: 16px;
  right: 16px;
  bottom: 16px;

  transition: all 0.6s ease-in;
  opacity: 0;
  transform: translateY(50%);
  pointer-events: none;
}

.card__desc {
  display: grid;
  gap: 4px;
}

.card__rating {
  display: flex;
  gap: 2px;
  img {
    width: 17px;
    height: 17px;
  }
}

.card__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: var(--neutral-07-1000);

  @include mobile {
    line-height: 110%;
    font-weight: 500;
  }
}

.card__title-elipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.card__price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 157%;
  color: #121212;
}
