.collection {
}

.collection__title {
  padding: 48px 0;

  @include mobile {
    text-align: center;
    padding: 10px 0;
  }
}

.collection__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;

  @include mobile {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
  }
}
