.footer {
  padding: 80px 0 32px;
  background-color: #141718;
  color: #ffd700;

  a {
    color: #fff;
  }

  @include tablet {
    padding: 40px 0 22px;
  }

  @include mobile {
    padding: 20px 0 12px;
  }
}

.footer__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.footer__row-top {
  padding-bottom: 50px;

  @include mobile {
    padding-bottom: 20px;
  }
}

.footer__title {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  flex-shrink: 0;

  @include mobile {
    flex-direction: column;
    gap: 10px;
  }
}

.footer__logo {
  font-family: var(--font-accent);
  font-size: 24px;
  line-height: 1;
  font-weight: 500;

  span {
    color: #ffd700;
  }
}

.footer__separator {
  background: #6c7275;
  flex-shrink: 0;
  width: 1px;
  height: 24px;

  @include mobile {
    transform: rotate(90deg);
    width: 2px;
    height: 34px;
    background: #ffd700;
  }
}

.footer__store {
  color: #ffd700;
  font-size: 14px;
  line-height: 1.571428571428571;
}

.footer__nav {
  display: flex;
  gap: 40px;
  align-items: center;
  color: #ffd700;
  font-size: 14px;
  line-height: 1.571428571428571;

  @include mobile {
    flex-direction: column;
    gap: 10px;
  }
}

.footer__row--border {
  padding-top: 16px;
  padding-bottom: 20px;
  border-top: 2px solid #ffd700;

  @include mobile {
    padding: 10px;

    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}

.footer__copyrights {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;

  font-size: 12px;
  color: #ffd700;
  line-height: 1.666666666666667;

  a {
    font-weight: 600;
  }

  @include mobile {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

.footer__copyrights-links {
  display: flex;
  gap: 28px;
}

.footer__socials {
  display: flex;
  gap: 24px;
  align-items: center;
}
