.headline {
  font-family: var(--second-family);
  font-weight: 500;
  color: #121212;

  &-1 {
    font-size: 80px;
    line-height: 105%;
    letter-spacing: -0.04em;
  }

  &-2 {
    font-size: 72px;
    line-height: 106%;
    letter-spacing: -0.03em;
  }

  &-3 {
    font-size: 54px;
    line-height: 107%;
    letter-spacing: -0.02em;
  }

  &-4 {
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;

    @include tablet {
      font-size: 30px;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &-5 {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: -0.02em;
  }
  &-6 {
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
  }
  &-7 {
    font-size: 20px;
    line-height: 140%;
  }
}
