.plate {
  padding-bottom: 50%;
  position: relative;
  background-color: #f3f5f7;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &--01 {
    background-image: url("./../img/collections/01.jpg");

    @include mediaBg() {
      background-image: url("./../img/collections/01@2x.jpg");
    }
  }

  &--02 {
    background-image: url("./../img/collections/02.jpg");

    @include mediaBg() {
      background-image: url("./../img/collections/02@2x.jpg");
    }
  }

  &--03 {
    background-image: url("./../img/collections/03.jpg");

    @include mediaBg() {
      background-image: url("./../img/collections/03@2x.jpg");
    }
  }
}

.plate--tall {
  grid-row: 1/3;
}

.plate__content {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 40px;

  @include tablet {
    left: 20px;
    right: 20px;
    bottom: 20px;
  }

  @include mobile {
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
}

.plate__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #121212;

  margin-bottom: 12px;

  @include tablet {
    font-size: 28px;
    margin-bottom: 8px;
  }

  @include mobile {
    font-size: 20px;
  }
}

.plate__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.03em;
  color: #121212;

  border-bottom: 1px solid #121212;

  @include tablet {
    font-size: 16px;
  }
}
