.promotion {
  position: relative;
  background-color: rgba(255, 171, 0, 0.4);

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    background-image: url("./../img/promotion/bg.jpg");

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaBg() {
      background-image: url("./../img/promotion/bg@2x.jpg");
    }

    @include mobile {
      position: static;
      height: 367px;
      width: 100%;
    }
  }

  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 5px;
  }
}

.promotion__container {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-width) / 2
  );

  padding-right: calc((100% - var(--container-width)) / 2);

  @include tablet {
    padding-right: var(--container-padding);
  }

  @include mobile {
    padding: 0 5px;
  }
}

.promotion__content {
  padding: 100px 0 100px 72px;

  display: grid;
  gap: 24px;

  @include tablet {
    padding: 50px 0 50px 32px;
    gap: 14px;
  }

  @include mobile {
    text-align: center;
    justify-items: center;
    padding: 10px 0 15px 8px;
    gap: 10px;
  }
}

.promotion__desc {
  display: grid;
  gap: 16px;

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    gap: 5px;
  }
}

.promotion__tagline {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--blue);
}

.promotion__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #121212;

  @include tablet {
    font-size: 30px;
  }

  @include mobile {
    font-size: 24px;
  }
}

.promotion__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #121212;

  @include tablet {
    line-height: 130%;
  }

  @include mobile {
    font-size: 16px;
    line-height: 110%;
  }
}

.promotion__timer {
  display: grid;
  gap: 12px;

  margin-bottom: 24px;

  @include mobile {
    gap: 5px;
    margin-bottom: 10px;
  }
}

.promotion__expires {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--neutral-07-1000);
}
