.swiper {
  width: 100%;
  height: 450px;
}

.swiper-slide {
  margin-right: 0px !important;
  width: 200px !important;
}

.swiper-wrapper {
  gap: 20px;

  @include mobile {
    gap: 10px;
  }
}

.swiper-pagination {
}
