.tagline {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  padding: 8px 15px;

  background: var(--neutral-07-1000);
  color: #fff;

  font-family: var(--font-family);
  line-height: 157%;
  font-size: 14px;

  &__desc {
    font-weight: 600;
    text-align: center;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;

    font-weight: 500;
    color: var(--yellow);

    border-bottom: 1px solid var(--yellow);

    @include mobile {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 16px;
    z-index: 9;

    svg {
      fill: #ffd700;
    }

    &:hover {
      svg {
        fill: #fff;
      }
    }

    @include mobile {
      svg {
        fill: #fff;
      }
    }
  }

  &__link-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  @include mobile {
    font-size: 12px;
  }
}
