.timer {
  display: flex;
  gap: 16px;

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    gap: 5px;
  }
}

.timer__el {
  color: var(--neutral-07-1000);
  text-align: center;
}

.timer__value {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--neutral-01-1000);

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 112%;
  letter-spacing: -0.02em;

  @include tablet {
    width: 50px;
    height: 50px;
  }
}

.timer__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
}
